@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>SignalR Demo</h2>

    <label>Message</label><input data-bind="value: text, valueUpdate: 'afterkeydown'" type="text" />
    <div>
        <button data-bind="enable: canFire, click: fireStandardEvent">Fire standard event</button>
        <button data-bind="enable: canFire, click: fireGenericEvent">Fire generic event</button>
        <button data-bind="enable: canFire, click: fireConstrainedEvent">Fire constrained event (Message must be 'HelloWorld' for the event to fire on this client</button>
        <button data-bind="enable: canFire, click: fireClientSideEvent">Fire client side event</button>
    </div>

    <h3>Events</h3>
    <div data-bind="foreach: events">
        <div data-bind="text: ko.toJSON($data)"></div>
    </div>
</div>
<script src="~/js/TestViewModel.js" asp-append-version="true"></script>