
@{
    ViewData["Title"] = "Vue";
}

<div class="text-center" id="app">
    
</div>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>
<script src="~/lib/signalr.eventaggregator.react/signalR.eventAggregator.react.jsx" asp-append-version="true"></script>
<script src="~/js/React.jsx" asp-append-version="true"></script>